<configuration>
    <property name="LOG_DIR" value="/sdcard/logback" />

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>


    <appender name="stash" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
        <host>127.0.0.1</host>
        <!-- port is optional (default value shown) -->
        <port>4001</port>
        <!-- layout is required -->
        <layout class="net.logstash.logback.layout.LogstashLayout"/>
    </appender>






    <root level="all">
        <appender-ref ref="stashtcp" />
        <appender-ref ref="logcat" />
        <appender-ref ref="stash" />
    </root>
</configuration>